
/* prva boja   #27496d */
 .prva {
     background-color: #27496d ;
     padding: 7% 15%;
     color:#00a8cc;


 }
.druga {
    background-color: #142850 ;
    padding: 7% 15%;
    color: #00a8cc;
}
/* druga boja   #142850 */

